* {
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    background-color: #546e7a;
}

h1, button, footer {
    background: #47565c;
}

h1 {
    padding: 15px;
}

.container {
    background-color: white;
    margin: auto;
    display: grid;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

button {
    color: white;
    border: none;
    margin: 7px;
    text-transform: capitalize;
    padding: 8px;
    font-weight: bold;
    font-size: 0.9rem;
    box-shadow: 1px 1px 3px;
}

button:hover {
    box-shadow: unset;
}

footer {
    margin-top: 8px;
    padding: 8px;
    text-transform: capitalize;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: white;
}